/* ----- general ----- */
body {
  font-family: Helvetica;
}

p {
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: black;
}

h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 32px;
  transition: 1s;
}

.sidebar a {
  padding: 8 px 8px 8px 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: block;
  transition: 1s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  top: 0;
  font-size: 36px;
  padding-left: 98px;
  padding-bottom: 8px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: rgb(119, 119, 119);
}

/* addition style for sidebar */
.sidebardark {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #000000;
  opacity: 50%;
  overflow-x: hidden;
  padding-top: 32px;
  transition: 1s;
}

.navbar-sidebar {
  display: flex;
  margin-left: 16px;
}

.btn-register {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 80px;
}

/* ----- header section ----- */
.nav {
  padding-left: 328px;
}

.navbar {
  margin-left: 136px;
  padding-top: 25px;
  padding-bottom: 45px;
  margin-right: 136px;
}

.nav-link {
  color: black;
  padding-right: 12px;
}

.container-header {
  background-color: #F1F3FF;
}

/* ----- main section ----- */
.container-main {
  padding-left: 136px;
  padding-right: 136px;
  padding-top: 106px;
}

/* main-jumbotron */
.container-jumbotron {
  background-color: #F1F3FF;
  width: fit-content;
}

.row-jumbotron {
  display: flex;
}

.col-jumbotron {
  margin-left: 136px;
  padding-top: 78px;

}

/* main-service */
.container-service {
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 136px;
}

.img-service {
  width: 414px;
}

/* main-whyus */
.card {
  width: 240px;
}

/* carousel */
.item {
  width: 619px;
  height: 270px;
  background: #F1F3FF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 20px;
}

.photo {
  width: 80px;
  height: 80px;
  padding-top: 95px;
  margin-left: 46px;
  margin-right: 46px;
}

.rate {
  padding-top: 65px;
  padding-bottom: 30px;
  padding-left: 10px;
  position: static;
  width: 100px;
  height: 16px;
  left: 0px;
  top: 0px;
}

.comment {
  padding-left: 10px;
  padding-right: 46px;
}

.button-carousel:hover {
  opacity: 1;
  background-color: white;
}

#right-button {
  padding-left: 15px;
  width: 55px;
}

#left-button {
  padding-right: 15px;
  width: 55px;
}

.button-carousel {
  opacity: 0.2;
  transition: .0s ease;
}

/* main-getting started */
.container-getstart {
  background-color: #0D28A6;
  border-radius: 13px;
  margin-top: 100px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: 136px;
  margin-right: 136px;
}

.container-getstart p {
  padding-left: 350px;
  padding-right: 350px;
}

/* ----- footer section ----- */
.container-footer {
  padding-top: 136px;
  padding-bottom: 60px;
  padding-left: 136px;
}

.icon-sosmed {
  width: 32px;
  height: 32px;
  margin-right: 16px;

}

/*----- search bar ----- */

.filter {
  top: -4rem;
  width: 75%;
  margin: auto;
  /* margin: 0 1rem 0 1rem; */
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}